<div class="row">
    <div class="col-md-1 mx-auto">
    </div>
    <div *ngIf="product" class="col-md-4 mx-auto">
        <img 
            src="{{product.product.image}}" 
            width="200px" height="220px" />
    </div>
    <div *ngIf="product" class="col-md-6 mx-auto details">
   
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="price">
                    $ {{product.product.price}}
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" 
                        (click)="addToCart(product.product)" 
                        class="btn btn-success">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>          
        </div>
        <div class="title">
            {{product.product.title}}
        </div>
        <div class="category">
            {{product.product.category}}
        </div>
        <div class="description">
            {{product.product.description}}
        </div>
    </div>
    <div class="col-md-1 mx-auto">
    </div>
</div>