<div class="container">
    <div class="homePageHeader">
        <h3>Web-Store</h3>
        <h5>
            Web API Core / EF Core / SQL Server / Angular / React-Redux / JWT
            Authentication
        </h5>
    </div>
    <hr />
    <p></p>
    <div class="row">
        <div class="col-sm-10">
            <div>
                <div class="titleHeader">
                    <b>Role : Admin</b>
                </div>
                <p></p>
                <div>
                    <ul>
                        <li>
                            <span class="titleSpan">
                                View list of Products
                            </span>                            
                        </li>
                        <li>
                            <span class="titleSpan">
                                Search Products
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                <u>Set Discount on Products</u>
                            </span>
                            <br />
                            <span class="indent1">
                                - For any Date, Admin can Set-Discount-Policy --- One,,,
                                For any Product
                            </span>
                            <br />
                            <span class="indent2">
                                <b>
                                    &nbsp;
                                    means... Only One Discount-Policy can connect with
                                    Product at a Time&nbsp;
                                </b>
                                <br />[ Discount in %, Discount-Starts-After-Qty,
                                Discount-Start-Date, Discount-End-Date ]
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                <u>View Discount</u>
                            </span>
                            <br />
                            <span class="indent1">
                                - View
                                <b>
                                    Discount-Status &nbsp;[RUNNING, EXPIRED, COMING-SOON]&nbsp;
                                </b>&nbsp;
                                and other Discount-Policy Info
                            </span>
                            <br />
                            <span class="indent1">
                                - View <b> Trend of Sales versus Discount-Policy</b>
                            </span>
                            <br />
                            <span class="indent2">
                                [ View &nbsp;
                                <b>
                                    Total Sales[$] of any Product during
                                    Discount-Policy-Time-Duration
                                </b> ]
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                <u>Admin Reports</u>
                            </span>
                            <br />
                            <span class="indent1">
                                <b>- Monthly-Report</b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display Line-Chart and Bar-Chart for
                                <b>
                                    &nbsp;
                                    Total Sales($) versus Month for a selected Product and
                                    Year
                                </b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display <b>Total Sales($) for the Year </b>
                            </span>
                            <br />
                            <span class="indent1">
                                <b>- Quarterly-Report</b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display Line-Chart and Bar-Chart for
                                <b>
                                    Total Sales($) versus Quarter for a selected Product and
                                    Year
                                </b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display <b> Total Sales($) for the Year </b>
                            </span>
                            <br />
                            <span class="indent1">
                                <b>- Discount-Trend-Report</b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display Line-Chart and Bar-Chart for
                                <b>
                                    Total Sales($) versus Last 5 Discount-Policy for a
                                    selected Product
                                </b>
                            </span>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>        
        </div>

        <div class="col-sm-10">
          
        </div>
    </div>
</div>