<div class="container">
    <div class="homePageHeader">
        <h3>Web-Store</h3>
        <h5>
            Web API Core / EF Core / SQL Server / Angular / React-Redux / JWT
            Authentication
        </h5>
    </div>
    <hr />
    <p></p>
    <div class="row">
        <div class="col-sm-10">
            <div>
                <div class="titleHeader">
                    <b>Role : Admin</b>
                </div>
                <p></p>
                <div>
                    <ul>
                        <li>
                            <span class="titleSpan">
                                View list of Products
                            </span>                            
                        </li>
                        <li>
                            <span class="titleSpan">
                                Search Products
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                <u>Set Discount on Products</u>
                            </span>
                            <br />
                            <span class="indent1">
                                - For any Date, Admin can Set-Discount-Policy --- One,,,
                                For any Product
                            </span>
                            <br />
                            <span class="indent2">
                                <b>
                                    &nbsp;
                                    means... Only One Discount-Policy can connect with
                                    Product at a Time&nbsp;
                                </b>
                                <br />[ Discount in %, Discount-Starts-After-Qty,
                                Discount-Start-Date, Discount-End-Date ]
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                <u>View Discount</u>
                            </span>
                            <br />
                            <span class="indent1">
                                - View
                                <b>
                                    Discount-Status &nbsp;[RUNNING, EXPIRED, COMING-SOON]&nbsp;
                                </b>&nbsp;
                                and other Discount-Policy Info
                            </span>
                            <br />
                            <span class="indent1">
                                - View <b> Trend of Sales versus Discount-Policy</b>
                            </span>
                            <br />
                            <span class="indent2">
                                [ View &nbsp;
                                <b>
                                    Total Sales[$] of any Product during
                                    Discount-Policy-Time-Duration
                                </b> ]
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                <u>Admin Reports</u>
                            </span>
                            <br />
                            <span class="indent1">
                                <b>- Monthly-Report</b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display Line-Chart and Bar-Chart for
                                <b>
                                    &nbsp;
                                    Total Sales($) versus Month for a selected Product and
                                    Year
                                </b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display <b>Total Sales($) for the Year </b>
                            </span>
                            <br />
                            <span class="indent1">
                                <b>- Quarterly-Report</b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display Line-Chart and Bar-Chart for
                                <b>
                                    Total Sales($) versus Quarter for a selected Product and
                                    Year
                                </b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display <b> Total Sales($) for the Year </b>
                            </span>
                            <br />
                            <span class="indent1">
                                <b>- Discount-Trend-Report</b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display Line-Chart and Bar-Chart for
                                <b>
                                    Total Sales($) versus Last 5 Discount-Policy for a
                                    selected Product
                                </b>
                            </span>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>        
        </div>

        <div class="col-sm-10">
            <div>
                <div class="titleHeader">
                    <b>Role : Shopper</b>
                </div>
                <p></p>
                <div>
                    <ul>
                        <li>
                            <span class="titleSpan">
                                View list of Products
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                Search Products
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                View details of Product
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                Add Product to Shopping-Cart
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                <u>Get Discounted Price on Product</u>
                            </span>
                            <br />
                            <span class="indent1">
                                [ If Discount is currently RUNNING (Current Date is
                                between Discount-Start-Date &amp; Discount-End-Date)
                                &amp;&amp;
                            </span>
                            <br />
                            <span class="indent1">
                                If in last 30 days, Shopper has bought more or equal to
                                Discount-Starts-After-Qty ] 
                            </span>
                            <br />
                            <span class="indent1">
                                For a specific Product
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                View / Edit / Empty - Shopping-Cart
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                <u>CheckOut from Shopping-Cart</u>
                            </span>
                            <br />
                            <span class="indent1">
                                - Enter <b>Customer Details</b>
                            </span>
                            <br />
                            <span class="indent1">
                                - Enter <b>Shipping Details</b>
                            </span>
                            <br />
                            <span class="indent1">
                                - Enter <b>Payment Details [ Stripe - CC ]</b>
                            </span>
                            <br />
                            <span class="indent1">
                                - <b>Receive Confirmation</b>
                            </span>
                            <br />
                            <span class="indent3">
                                <b>- SUCCESS MESSAGE</b> [ - Stripe Payment Gateway
                                Response - Web API Response ]
                            </span>
                            <br />
                            <span class="indent3">
                                --- OR ---
                            </span>
                            <br />
                            <span class="indent3">
                                <b>- ERROR MESSAGE</b>
                            </span>
                        </li>
                        <li>
                            <span class="titleSpan">
                                <u>View Shopping-History</u>
                            </span>
                            <br />
                            <span class="indent1">
                                <b>- Today-History</b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display
                                <b>Today's Shopping History Data - Product wise</b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display <b>Total $ Spent on Today's Shopping</b>
                            </span>
                            <br />
                            <span class="indent1">
                                <b>- Current-Week-History</b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display
                                <b>
                                    Current-Week's Shopping History Data - Product wise
                                </b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display
                                <b>Total $ Spent on Current-Week's Shopping</b>
                            </span>
                            <br />
                            <span class="indent1">
                                <b>- Current-Month-History</b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display
                                <b>
                                    Current-Month's Shopping History Data - Product wise
                                </b>
                            </span>
                            <br />
                            <span class="indent2">
                                - Display
                                <b>Total $ Spent on Current-Month's Shopping</b>
                            </span>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
        </div>


        <div class="col-sm-10">
            <div>
                <div class="titleHeader">
                    <b>Register</b>
                </div>
                <p></p>
                <div>
                    <ul>
                        <li>
                            User can register with valid Username, Password, Email and
                            Role [Admin/Shopper]
                        </li>
                        <li>
                            after successful registration, user is redirected to login
                            page
                        </li>
                        <li>
                            after un-successful register, error message is displayed
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
        </div>

        <div class="col-sm-10">
            <div>
                <div class="titleHeader">
                    <b>Role based Authentication</b>
                </div>
                <p></p>
                <div>
                    <ul>
                        <li>JWT Authentication</li>
                        <li>
                            after successful login, respective Role is returned in Token
                            / Response
                        </li>
                        <li>React/Redux stores Role info with Token</li>
                        <li>Menu displays as per Role info</li>
                    </ul>
                </div>
                <p></p>
            </div>
        </div>

        <div class="col-sm-10">
            <div>
                <div class="titleHeader">
                    <b>Login</b>
                </div>
                <p></p>
                <div>
                    <ul>
                        <li>User can login with valid Username and Password</li>
                        <li>
                            after successful login, Token, Role and other User's
                            information is stored on Client side(Redux Store) and menu
                            options are displayed as per User's Role
                        </li>
                        <li>after un-successful login, error message is displayed</li>
                    </ul>
                </div>
                <p></p>
            </div>
        </div>

        <div class="col-sm-10">
            <div>
                <div class="titleHeader">
                    <b>Exceptions Handling</b>
                </div>
                <p></p>
                <div>
                    <ul>
                        <li>
                            Model validations are handled on Client side - React -
                            Component
                        </li>
                        <li>
                            all Server side exceptions are handled on Api - Controller /
                            C# Service
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>