<nav class="navbar navbar-expand-md" [style.backgroundColor]="this._userService.getHeaderBarColor()">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">
            <i class="fa fa-globe"></i>
            Web-Store
        </a>
        <button class="navbar-toggler"
            type="button" 
            data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <!-- left align items -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class='nav-link' aria-current="page" 
                        [routerLink]="['/home']">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>  
                <li 
                    *ngIf="isUserAuthenticated" class="nav-item">
                    <a class='nav-link' 
                        aria-current="page" 
                        [routerLink]="['/products']">
                        <i class="fa fa-store"></i>
                        Products
                    </a>
                </li>
                <li 
                    *ngIf="isUserAuthenticated && _userService.isAdmin" class="nav-item">
                    <a class='nav-link' 
                        aria-current="page" 
                        [routerLink]="['/admin-reports']">
                        <i class="fa fa-file"></i>
                        Admin-Reports
                    </a>
                </li>
                <li 
                    *ngIf="isUserAuthenticated && _userService.isShopper" class="nav-item">
                    <a class='nav-link' 
                        aria-current="page" 
                        [routerLink]="['/cart']">
                        <i class="fa fa-shopping-cart"></i>
                        Cart
                    </a>
                </li>
                <li 
                    *ngIf="isUserAuthenticated && _userService.isShopper" class="nav-item">
                    <a class='nav-link' 
                        aria-current="page" 
                        [routerLink]="['/shopping-history']">
                        <i class="fa fa-history"></i>
                        Shopping-History
                    </a>
                </li>
            </ul>

            <!-- right align items -->
            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto">
                    <li 
                        *ngIf="!this._userService.isLoggedIn" 
                        class="nav-item">
                        <a class='nav-link rightItem' 
                            aria-current="page" 
                            [routerLink]="['/signin']">
                            <span class="notSigninSpan">
                                <i class="fa fa-arrow-right"></i>
                                Signin
                            </span>                           
                        </a>
                    </li>
                    <li *ngIf="!this._userService.isLoggedIn" 
                        class="nav-item">
                        <a class='nav-link rightItem' 
                            aria-current="page" 
                            [routerLink]="['/register']">
                            <span class="notSigninSpan">
                                <i class="fa fa-registered"></i>
                                Register
                            </span>
                        </a>
                    </li>
                    <li *ngIf="this._userService.isLoggedIn" 
                        class="nav-item">
                        <span class="userNameSpan">
                            [Role: {{this._userService.getRole()}}]
                            &nbsp;{{userName}}
                        </span>
                        &nbsp;
                        <button class="btn btn-primary" 
                            (click)="logout()" type="button">Signout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>