.rightItem {
    color: black;
}

.userNameSpan {
    color : black;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
}

.notSigninSpan {
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.dropdownItem {
    color : black;
    font-style: italic;
    font-weight: bold;
}

.shopperBar{
    background-color: lightsalmon;
}
.adminBar {
    background-color: lightgreen;
}