<div *ngIf="productToDisplay" >
    <div>
        <div class="row">
            <div class="col-md-12 mx-auto">
                <img src="{{productToDisplay.image}}" width="200px" height="220px" />
            </div>          
        </div>
        <div>
            {{productToDisplay.id}}
        </div>
        <div>
            {{productToDisplay.category}}
        </div>
        <div>
            {{productToDisplay.title}}
        </div>
        <div>
            $ {{productToDisplay.price}}
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <button type="button" (click)="addToCart(productToDisplay)" class="btn btn-success">
                    Add To Cart
                </button>
            </div>
            <div class="col-md-2 mx-auto">     
                &nbsp;       
            </div>
            <div class="col-md-4 mx-auto rightBtn">
                <button type="button" (click)="getProductDetails(productToDisplay)" class="btn btn-info">
                    Details
                </button>
            </div>
        </div> 
    </div>   
</div>