<div *ngIf="productToDisplay" >
    <div>
        <div class="row">
            <div class="col-md-12 mx-auto">
                <img src="{{productToDisplay.image}}" width="200px" height="220px" />
            </div>          
        </div>
        <div class="category">
            [ {{productToDisplay.category}} ]
        </div>
        <div>
            {{this.localDataService.getProductTitleForDisplay(productToDisplay.title)}}
        </div>           
        <div class="price">
            $ {{productToDisplay.price}}
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6 mx-auto ">
                <button type="button" 
                    (click)="setDiscount(productToDisplay)" 
                    class="btn btn-success buttonStyle">
                    SET &nbsp;<i class="fa fa-tag"></i>
                </button>
            </div>          
            <div class="col-md-6 mx-auto rightBtn ">
                <button type="button" 
                    (click)="viewDiscount(productToDisplay)" 
                    class="btn btn-primary buttonStyle">
                    VIEW &nbsp;<i class="fa fa-gift"></i>
                </button>
            </div>
        </div> 
    </div>   
</div>