<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header" 
                    style="background-color: lightyellow;">
                    <div class="row">
                        <div class="col-md-7 mx-auto">
                            <h3>
                                My-Shopping Cart                             
                            </h3>
                            <div>
                                <span>
                                    <button type="button" (click)="emptyCart" class="btn btn-danger">                                        
                                        Empty <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5 mx-auto">
                            <div class="cartTotal">
                                Cart Total : ${{cartTotal}}  
                                &nbsp;&nbsp;
                                <button type="button" 
                                    (click)="checkOut" class="btn btn-success">
                                    <b>Checkout</b>
                                    &nbsp;&nbsp;
                                    <i class="fa fa-credit-card"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                
                    
                </div>
                <div class="card-body">   
                    <div *ngIf="myCart?.length==0" class="emptyCart">
                        Cart is empty,,, Do some shopping!
                    </div>  
                    <div *ngIf="myCart?.length>0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Item</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myCart">
                                    <td>
                                        <img src="{{item.image}}" width="75px" height="75px" />
                                    </td>
                                    <td>{{item.title}}</td>
                                    <td>
                                        <span class="plusMinusBtn">
                                                <button type="button" (click)="onMinus(item)" class="btn btn-warning">
                                                    -
                                                </button>                                                
                                            &nbsp;&nbsp;
                                            {{item.qty}}
                                            &nbsp;&nbsp;
                                            <button type="button" (click)="onAdd(item)" class="btn btn-primary">
                                                +
                                            </button>
                                        </span>
                                    </td>
                                    <td>{{item.price}}</td>
                                    <td>{{(item.qty*item.price).    toFixed(2)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>              
                      
                </div>
            </div>
        </div>
    </div>
</div>